title {
  font-style: oblique;
  font-size: 33px;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 22px;
  font-family: fantasy;
}

h2{
  font-size: 15px;
  font-family: cursive;
}

li{
  line-height: 20px;
  font-family:sans-serif;
}

.flashy{
  color: red;
  font-style:italic;
}

.best{
  border: 55px solid #abcabc
}
